// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3588-orangepi-5-max.dts"

/ {
	model = "LemonPi Pi1";
	compatible = "lemonpi,rk3588-lemonpi-pi1", "rockchip,rk3588";
};

&combphy0_ps { /* Mini-PCIe/SATA3.0-PCIe (x1) Combo PHY */
	status = "okay";
};

&pcie2x1l2 { /* Mini-PCIe (x1) */
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	disable-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};

&sata0 { /* SATA3.0-PCIe (x1) */
	status = "okay";
};